@use "variables" as *;
@use "breakpoints" as *;

.about-container {
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-flow: row wrap;
  max-width: 1300px;
  margin-top: 9em;

  .about {
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(35, 60, 122, 0.1);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;

    h2 {
      font-size: $font-size-xl;
      strong {
        color: $secondary;
      }
    }
    p {
      max-width: 530px;
      font-size: $font-size-md;
    }
  }

  .resume {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: $backColor;
    font-weight: bold;
    background-color: $linkColor;

    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $linkColor;
  }
  .splash-img-container {
    position: relative;
  }

  // .splash-img {
  //   background-image: url("splash.svg");
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   width: 600px;
  //   height: 400px;
  // }

  img {
    height: 40%;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 1rem;
  }
  // .splash {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   max-width: 600px;
  //   max-height: 436.36px;
  //   width: 600px;
  //   height: 436.36px;
  // }
}
