@use "variables" as *;
@use "breakpoints" as *;

.about-container {
  justify-content: center;
  align-items: center;
  gap: 5rem;
  // margin-top: 8%;
  flex-flow: row wrap;

  .about {
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(35, 60, 122, 0.1);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.25);

    overflow: hidden;

    h2 {
      font-size: $font-size-xl;
      strong {
        color: $secondary;
      }
    }
    p {
      max-width: 430px;
      font-size: $font-size-md;
    }
  }

  .xxx {
    background-image: url("splash.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  img {
    height: 40%;
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 1rem;
  }
}
