@use "sass:math";
@use "variables" as *;
@use "breakpoints" as *;

.project-container {
  flex-direction: column;
  .projects {
    width: 60%;
    gap: 1.5rem;
    .card {
      position: relative;
      .card-title {
        font-size: $font-size-lg;
        padding-bottom: $base-padding;
        font-weight: bold;
      }

      .card-body {
        font-size: $base-font-size;

        a {
          text-decoration: underline;
        }
      }

      img {
        width: 220px;
        height: 200px;
      }

      .hover-effect {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        width: 220px;
        height: 200px;
        background: #06954f;
        background: -webkit-linear-gradient(0deg, #06954f 0%, #1ac888 100%);
        background: linear-gradient(0deg, #06954f 0%, #1ac888 100%);
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 0;
        right: 0;
        transform-origin: top;
      }
    }
  }
}

@include md {
  .project-container {
    flex-direction: row;
  }
}

.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loadable {
  overflow: hidden;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.project-title {
  font-size: $font-size-xxl;
  color: $secondary;
}

//svgggggggggggggg

svg#freepik_stories-business-plan:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-business-plan.animated #freepik--Floor--inject-2 {
  animation: 1.5s Infinite linear heartbeat;
  animation-delay: 0s;
}
svg#freepik_stories-business-plan.animated #freepik--Chart--inject-2 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-business-plan.animated #freepik--character-1--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
