@use "variables" as *;
@use "breakpoints" as *;

%back {
  background: rgba(35, 60, 122, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: $font-size-md;
  padding: 0.3rem;
  color: whitesmoke;
  font-weight: 400;
  min-width: 300px;
  max-width: 700px;
}

.contact {
  .row {
    height: 100%;
    h1 {
      color: $secondary;
      font-size: $font-size-xxl;
      strong {
        color: whitesmoke;
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 95%;
    .name {
      flex-wrap: wrap;
    }

    @include md {
      .name {
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 700px;
        input {
          width: 50%;
        }
      }
    }

    textarea {
      @extend %back;
      resize: none;
      height: 200px;

      outline: none;

      font-family: poppins;
    }

    .alert {
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #ea564b; /* Red */

      margin-bottom: 0;
      width: 100%;
      max-width: 700px;
      height: 90px;
      border-radius: 5px;
    }

    .login-error {
      font-weight: bold;
      font-size: $font-size-lg;
      line-height: 20px;
      margin: 0;
    }

    input {
      @extend %back;
      height: 60px;
      &:focus {
        outline: none;
      }
    }

    button {
      @extend %back;
      border: none;

      height: 50px;
      color: white;
      font-family: "Inter", sans-serif;
      cursor: pointer;
      max-width: 300px;
      min-width: 150px;
      &:hover {
        background-color: $secondary;
      }
      &:disabled {
        background-color: #aaaaaa;
        cursor: not-allowed;
      }
    }
  }
}
