@use "variables" as *;
@use "breakpoints" as *;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;
  height: 10vh;

  .site-title {
    font-size: $font-size-lg * 1.5;
  }

  a {
    font-size: $font-size-md;
    z-index: 1;
    &:hover {
      color: $primary;
    }
  }

  .container {
    @extend %flex-layout;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}

//header hamburger menu

.responsive-navbar {
  a {
    display: none;
  }
}

@include lg {
  .responsive-navbar {
    a {
      display: flex;
    }
  }
}
