@use "variables" as *;
@use "breakpoints" as *;

.project-detail {
  transform-origin: center;
  // margin-top: 2rem;
  width: 95%;

  @include lg {
    margin-bottom: 5vh;
    width: 100%;
  }

  h1 {
    font-size: $font-size-xl;
  }

  a {
    &:hover {
      color: #111111;
      background-color: $linkColor;
    }
  }
  .site {
    padding: 5px 15px;
    background-color: #24292f;
  }

  strong {
    color: $secondary;
  }

  .social-con {
    gap: 10px;
    @include lg {
      gap: 30px;
    }
  }
}

.special {
  width: 95%;
  @include lg {
    width: 100%;
  }
}

.back {
  background: rgba(35, 60, 122, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 15vh;

  @include lg {
    margin-bottom: 5vh;
  }
}
