@use "variables" as *;
@use "breakpoints" as *;

.project-detail {
  transform-origin: center;
  // margin-top: 2rem;
  h1 {
    font-size: $font-size-xl;
  }

  a {
    &:hover {
      color: #111111;
      background-color: #f5f5f5;
    }
  }
  .site {
    padding: 5px 15px;
    background-color: #24292f;
  }

  strong {
    color: $secondary;
  }
}

.back {
  background: rgba(35, 60, 122, 0.1);
  // background: rgba(35, 60, 122, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
