@use "variables" as *;
@use "breakpoints" as *;

.skills-container {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .skills {
    width: 100%;
    height: 90%;

    .s-logo {
      width: 130px;
      height: 130px;
      object-fit: contain;
    }
    .gaps {
      box-shadow: $base-box-shadow;
    }
  }
}

@include md {
  .skills-container {
    overflow-y: hidden;
  }
}

.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: #fff;
}
