@use "sass:math";
@use "variables" as *;

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "10": 10%,
      "15": 15%,
      "20": 20%,
      "25": 25%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "10": 10%,
      "15": 15%,
      "20": 20%,
      "25": 25%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "10": 10%,
      "15": 15%,
      "20": 20%,
      "25": 25%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "10": 10%,
      "15": 15%,
      "20": 20%,
      "25": 25%,
      "30": 30%,
      "40": 40%,
      "50": 50%,
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 2),
      "sm": math.div($base-border-radius, 4),
      "lg": $base-border-radius * 2,
      "full": 50%,
    ),
  ),
  "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "l-b": inline-block,
    ),
  ),
  "height": (
    "prefix": "vh",
    "values": (
      "10": 10vh,
      "20": 20vh,
      "30": 30vh,
      "40": 40vh,
      "50": 50vh,
      "60": 60vh,
      "70": 70vh,
      "80": 80vh,
      "90": 90vh,
      "100": 100vh,
    ),
  ),
  "width": (
    "prefix": "vw",
    "values": (
      "10": 10vw,
      "20": 20vw,
      "30": 30vw,
      "40": 40vw,
      "50": 50vw,
      "60": 60vw,
      "70": 70vw,
      "80": 80vw,
      "90": 90vw,
      "100": 100vw,
    ),
  ),
  "flex-direction": (
    "prefix": "fd",
    "values": (
      "r": row,
      "c": column,
    ),
  ),
  "cursor": (
    "prefix": "cursor",
    "values": (
      "p": pointer,
      "d": default,
    ),
  ),
  "gap": (
    "prefix": "gp",
    "values": (
      "1": 1rem,
      "2": 2rem,
      "3": 3rem,
      "4": 4rem,
      "5": 5rem,
      "6": 6rem,
      "7": 7rem,
      "8": 8rem,
      "9": 9rem,
      "10": 10rem,
    ),
  ),
);

//generate utility classes

@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
