//theme colors
$primary: #fc5241;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;
$backColor: #050f28;
$linkColor: #f5f5f5;
$boxColor: rgb(26, 200, 136, 1);
$cardColor: rgba(35, 60, 122, 0.1);
$linkBack: #24292f;

//color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "orange": #ffa600,
  "backColor": rgba(5, 15, 40, 0.5),
  "white": #fff,
  "cardColor": rgba(35, 60, 122, 0.1),
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

//font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.2;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
