@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset */
* {
  color: inherit;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  color: whitesmoke;
  position: relative;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-space-between {
  align-items: space-between;
}

.align-space-around {
  align-items: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #fc5241;
}

.bg-primary {
  background-color: #fc5241;
}

.text-secondary {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-error {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-backColor {
  color: rgba(5, 15, 40, 0.5);
}

.bg-backColor {
  background-color: rgba(5, 15, 40, 0.5);
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-cardColor {
  color: rgba(35, 60, 122, 0.1);
}

.bg-cardColor {
  background-color: rgba(35, 60, 122, 0.1);
}

.project-container {
  flex-direction: column;
}
.project-container .projects {
  width: 60%;
  gap: 1.5rem;
  margin-bottom: 10vh;
}
@media (min-width: 960px) {
  .project-container .projects {
    margin-bottom: 0;
  }
}
.project-container .projects .card {
  position: relative;
  border: 1px solid #050f28;
}
.project-container .projects .card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.project-container .projects .card .card-body {
  font-size: 1rem;
}
.project-container .projects .card .card-body a {
  text-decoration: underline;
}
.project-container .projects .card img {
  width: 220px;
  height: 200px;
}
.project-container .projects .card .hover-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 220px;
  height: 200px;
  background: #06954f;
  background: -webkit-linear-gradient(0deg, #06954f 0%, #1ac888 100%);
  background: linear-gradient(0deg, #06954f 0%, #1ac888 100%);
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  transform-origin: top;
}

@media (min-width: 720px) {
  .project-container {
    flex-direction: row;
  }
}
.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loadable {
  overflow: hidden;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.project-title {
  font-size: 3rem;
  color: #1ac888;
}

svg#freepik_stories-business-plan:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-business-plan.animated #freepik--Floor--inject-2 {
  animation: 1.5s Infinite linear heartbeat;
  animation-delay: 0s;
}

svg#freepik_stories-business-plan.animated #freepik--Chart--inject-2 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}

svg#freepik_stories-business-plan.animated #freepik--character-1--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fc5241;
}
.btn-primary:hover {
  background-color: #fd8073;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #fc5241;
}
.btn-outlined-primary:hover {
  background-color: #fc5241;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fc5241;
  color: #d8fbfe;
}
.btn-complement-primary:hover {
  color: #fc5241;
  background-color: #d8fbfe;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
}
.btn-secondary:hover {
  background-color: #31e4a2;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #1ac888;
}
.btn-outlined-secondary:hover {
  background-color: #1ac888;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac888;
  color: #f08bb0;
}
.btn-complement-secondary:hover {
  color: #1ac888;
  background-color: #f08bb0;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #de4f73;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #d32752;
}
.btn-outlined-error:hover {
  background-color: #d32752;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
  color: #a5eedc;
}
.btn-complement-error:hover {
  color: #d32752;
  background-color: #a5eedc;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #f8d04d;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #f6c31c;
}
.btn-outlined-info:hover {
  background-color: #f6c31c;
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
  color: #afc1fc;
}
.btn-complement-info:hover {
  color: #f6c31c;
  background-color: #afc1fc;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
}
.btn-orange:hover {
  background-color: #ffb833;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ffa600;
}
.btn-outlined-orange:hover {
  background-color: #ffa600;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
  color: #99bdff;
}
.btn-complement-orange:hover {
  color: #ffa600;
  background-color: #99bdff;
}

.btn-backColor {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgba(5, 15, 40, 0.5);
}
.btn-backColor:hover {
  background-color: rgba(11, 32, 85, 0.5);
}

.btn-outlined-backColor {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(5, 15, 40, 0.5);
}
.btn-outlined-backColor:hover {
  background-color: rgba(5, 15, 40, 0.5);
}

.btn-complement-backColor {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgba(5, 15, 40, 0.5);
  color: rgba(176, 132, 22, 0.5);
}
.btn-complement-backColor:hover {
  color: rgba(5, 15, 40, 0.5);
  background-color: rgba(176, 132, 22, 0.5);
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-outlined-white:hover {
  background-color: #fff;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  color: white;
}
.btn-complement-white:hover {
  color: #fff;
  background-color: white;
}

.btn-cardColor {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgba(35, 60, 122, 0.1);
}
.btn-cardColor:hover {
  background-color: rgba(46, 79, 162, 0.1);
}

.btn-outlined-cardColor {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(35, 60, 122, 0.1);
}
.btn-outlined-cardColor:hover {
  background-color: rgba(35, 60, 122, 0.1);
}

.btn-complement-cardColor {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: rgba(35, 60, 122, 0.1);
  color: rgba(210, 179, 100, 0.1);
}
.btn-complement-cardColor:hover {
  color: rgba(35, 60, 122, 0.1);
  background-color: rgba(210, 179, 100, 0.1);
}

.tab-bar, .navbar .container, .navbar-cardColor .container, .navbar-white .container, .navbar-backColor .container, .navbar-orange .container, .navbar-info .container, .navbar-error .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-cardColor, .navbar-white, .navbar-backColor, .navbar-orange, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-cardColor, .navbar-white, .navbar-backColor, .navbar-orange, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  height: 10vh;
}
.navbar .site-title, .navbar-cardColor .site-title, .navbar-white .site-title, .navbar-backColor .site-title, .navbar-orange .site-title, .navbar-info .site-title, .navbar-error .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
  font-size: 2.25rem;
}
.navbar a, .navbar-cardColor a, .navbar-white a, .navbar-backColor a, .navbar-orange a, .navbar-info a, .navbar-error a, .navbar-secondary a, .navbar-primary a {
  font-size: 1.2rem;
  z-index: 1;
}
.navbar a:hover, .navbar-cardColor a:hover, .navbar-white a:hover, .navbar-backColor a:hover, .navbar-orange a:hover, .navbar-info a:hover, .navbar-error a:hover, .navbar-secondary a:hover, .navbar-primary a:hover {
  color: #fc5241;
}
.navbar-primary {
  background-color: #fc5241;
}

.navbar-secondary {
  background-color: #1ac888;
}

.navbar-error {
  background-color: #d32752;
}

.navbar-info {
  background-color: #f6c31c;
}

.navbar-orange {
  background-color: #ffa600;
}

.navbar-backColor {
  background-color: rgba(5, 15, 40, 0.5);
}

.navbar-white {
  background-color: #fff;
}

.navbar-cardColor {
  background-color: rgba(35, 60, 122, 0.1);
}

.responsive-navbar a {
  display: none;
}

@media (min-width: 960px) {
  .responsive-navbar a {
    display: flex;
  }
}
.tab-bar {
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  background: rgba(0, 255, 162, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 255, 162, 0.25);
  height: 10vh;
  padding: 0 10px;
}

.home {
  position: relative;
  margin-bottom: 15vh;
}
.home .main {
  margin-top: 5em;
  flex-direction: column;
  justify-content: center;
  background: rgba(35, 60, 122, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.home .main h2 {
  font-size: 2rem;
}
.home .main h2 strong {
  color: #1ac888;
}
.home .main h2 span {
  color: #1ac888;
}
.home .main p {
  max-width: 500px;
  font-size: 1.2rem;
}
.home .mainImg {
  position: fixed;
  bottom: 10vh;
}
@media (min-width: 960px) {
  .home .mainImg {
    top: 0;
  }
}

.backColor {
  background-color: #050f28;
  overflow-y: auto;
  overflow-x: hidden;
}

.part-container {
  width: 100vw;
  display: flex;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateZ(0px);
}

.title-container {
  gap: 20px;
  z-index: 1;
  align-items: center;
}
.title-container .box {
  background-color: aliceblue;
  width: 30px;
  height: 30px;
}
.title-container .box:hover {
  background-color: aqua;
}

.not-found a {
  font-size: 3rem;
  color: #1ac888;
  font-family: inherit;
}
.not-found .return:hover {
  scale: 1.2;
  color: #323232;
}

@media (min-width: 960px) {
  .part-container {
    width: 70vw;
    margin: 0 0 0 auto;
  }
  .home {
    margin-bottom: 0;
  }
  .home .main {
    margin-top: 10em;
  }
}
.about-container {
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1300px;
  margin-top: 1em;
  margin-bottom: 15vh;
}
@media (min-width: 960px) {
  .about-container {
    margin-top: 9em;
    gap: 5rem;
    margin-bottom: 0;
  }
}
.about-container .about {
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(35, 60, 122, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
}
.about-container .about h2 {
  font-size: 2rem;
}
.about-container .about h2 strong {
  color: #1ac888;
}
.about-container .about p {
  max-width: 530px;
  font-size: 1.2rem;
}
.about-container .resume {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #050f28;
  font-weight: bold;
  background-color: #f5f5f5;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #f5f5f5;
}
.about-container .splash-img-container {
  position: relative;
}
.about-container img {
  height: 40%;
  max-width: 600px;
  min-width: 300px;
  margin-right: 3em;
  margin-bottom: 1rem;
}
@media (min-width: 960px) {
  .about-container img {
    margin: 0;
  }
}

.skills-container {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin-bottom: 12vh;
}
@media (min-width: 960px) {
  .skills-container {
    margin-bottom: 0;
    margin-top: 1em;
  }
}
.skills-container .skills {
  width: 100%;
  height: 90%;
}
.skills-container .skills .s-logo {
  width: 130px;
  height: 130px;
  object-fit: contain;
}
.skills-container .skills .gaps {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 720px) {
  .skills-container {
    overflow-y: hidden;
  }
}
.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: #fff;
}

.contact .form button, .contact .form input, .contact .form textarea {
  background: rgba(35, 60, 122, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 0.3rem;
  color: whitesmoke;
  font-weight: 400;
  min-width: 300px;
  max-width: 700px;
}

.contact {
  margin-bottom: 15vh;
}
.contact .row {
  height: 100%;
}
.contact .row h1 {
  color: #1ac888;
  font-size: 3rem;
}
.contact .row h1 strong {
  color: whitesmoke;
}
.contact .form {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.contact .form .name {
  flex-wrap: wrap;
}
@media (min-width: 720px) {
  .contact .form .name {
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 700px;
  }
  .contact .form .name input {
    width: 50%;
  }
}
.contact .form textarea {
  resize: none;
  height: 200px;
  outline: none;
  font-family: poppins;
}
.contact .form .alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea564b; /* Red */
  margin-bottom: 0;
  width: 100%;
  max-width: 700px;
  height: 90px;
  border-radius: 5px;
}
.contact .form .login-error {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 20px;
  margin: 0;
}
.contact .form input {
  height: 60px;
}
.contact .form input:focus {
  outline: none;
}
.contact .form button {
  border: none;
  background-color: #1ac888;
  height: 50px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  max-width: 300px;
  min-width: 150px;
  font-size: 1.5rem;
}
.contact .form button:hover {
  background-color: #007047;
}
.contact .form button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.project-detail {
  transform-origin: center;
  width: 95%;
}
@media (min-width: 960px) {
  .project-detail {
    margin-bottom: 5vh;
    width: 100%;
  }
}
.project-detail h1 {
  font-size: 2rem;
}
.project-detail a:hover {
  color: #111111;
  background-color: #f5f5f5;
}
.project-detail .site {
  padding: 5px 15px;
  background-color: #24292f;
}
.project-detail strong {
  color: #1ac888;
}
.project-detail .social-con {
  gap: 10px;
}
@media (min-width: 960px) {
  .project-detail .social-con {
    gap: 30px;
  }
}

.special {
  width: 95%;
}
@media (min-width: 960px) {
  .special {
    width: 100%;
  }
}

.back {
  background: rgba(35, 60, 122, 0.1);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 15vh;
}
@media (min-width: 960px) {
  .back {
    margin-bottom: 5vh;
  }
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mt-10 {
  margin-top: 10%;
}

.mt-15 {
  margin-top: 15%;
}

.mt-20 {
  margin-top: 20%;
}

.mt-25 {
  margin-top: 25%;
}

.mt-30 {
  margin-top: 30%;
}

.mt-40 {
  margin-top: 40%;
}

.mt-50 {
  margin-top: 50%;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mr-10 {
  margin-right: 10%;
}

.mr-15 {
  margin-right: 15%;
}

.mr-20 {
  margin-right: 20%;
}

.mr-25 {
  margin-right: 25%;
}

.mr-30 {
  margin-right: 30%;
}

.mr-40 {
  margin-right: 40%;
}

.mr-50 {
  margin-right: 50%;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.mb-10 {
  margin-bottom: 10%;
}

.mb-15 {
  margin-bottom: 15%;
}

.mb-20 {
  margin-bottom: 20%;
}

.mb-25 {
  margin-bottom: 25%;
}

.mb-30 {
  margin-bottom: 30%;
}

.mb-40 {
  margin-bottom: 40%;
}

.mb-50 {
  margin-bottom: 50%;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.ml-10 {
  margin-left: 10%;
}

.ml-15 {
  margin-left: 15%;
}

.ml-20 {
  margin-left: 20%;
}

.ml-25 {
  margin-left: 25%;
}

.ml-30 {
  margin-left: 30%;
}

.ml-40 {
  margin-left: 40%;
}

.ml-50 {
  margin-left: 50%;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 10px;
}

.br-sm {
  border-radius: 5px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-l-b {
  display: inline-block;
}

.vh-10 {
  height: 10vh;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}

.vh-10p {
  height: 10%;
}

.vh-20p {
  height: 20%;
}

.vh-30p {
  height: 30%;
}

.vh-40p {
  height: 40%;
}

.vh-50p {
  height: 50%;
}

.vh-60p {
  height: 60%;
}

.vh-70p {
  height: 70%;
}

.vh-80p {
  height: 80%;
}

.vh-90p {
  height: 90%;
}

.vh-full {
  height: 100%;
}

.vw-10 {
  width: 10vw;
}

.vw-20 {
  width: 20vw;
}

.vw-30 {
  width: 30vw;
}

.vw-40 {
  width: 40vw;
}

.vw-50 {
  width: 50vw;
}

.vw-60 {
  width: 60vw;
}

.vw-70 {
  width: 70vw;
}

.vw-80 {
  width: 80vw;
}

.vw-90 {
  width: 90vw;
}

.vw-100 {
  width: 100vw;
}

.vw-10p {
  width: 10%;
}

.vw-20p {
  width: 20%;
}

.vw-30p {
  width: 30%;
}

.vw-40p {
  width: 40%;
}

.vw-50p {
  width: 50%;
}

.vw-60p {
  width: 60%;
}

.vw-70p {
  width: 70%;
}

.vw-80p {
  width: 80%;
}

.vw-90p {
  width: 90%;
}

.vw-full {
  width: 100%;
}

.fd-r {
  flex-direction: row;
}

.fd-c {
  flex-direction: column;
}

.cursor-p {
  cursor: pointer;
}

.cursor-d {
  cursor: default;
}

.gp-1 {
  gap: 1rem;
}

.gp-2 {
  gap: 2rem;
}

.gp-3 {
  gap: 3rem;
}

.gp-4 {
  gap: 4rem;
}

.gp-5 {
  gap: 5rem;
}

.gp-6 {
  gap: 6rem;
}

.gp-7 {
  gap: 7rem;
}

.gp-8 {
  gap: 8rem;
}

.gp-9 {
  gap: 9rem;
}

.gp-10 {
  gap: 10rem;
}